.home4,
.image-7-icon1 {
  position: absolute;
  left: 0;
}
.image-7-icon1 {
  top: calc(50% - 512px);
  width: 1445.1px;
  height: 1124px;
  object-fit: cover;
}
.home4 {
  top: 0;
  line-height: 130%;
  font-weight: 600;
}
.contact-item,
.home3 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 46px;
  height: 21px;
}
.contact-item {
  width: 3.23%;
  top: 85.71%;
  right: 46.77%;
  left: 50%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
}
.contact2,
.service-item {
  position: absolute;
  top: 5px;
  left: 210px;
  width: 62px;
  height: 21px;
}
.service-item {
  width: 1.69%;
  top: 85.71%;
  right: 42.37%;
  left: 55.93%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
  object-fit: contain;
  opacity: 0;
}
.about-item,
.service2 {
  position: absolute;
  top: 5px;
  left: 108px;
  width: 59px;
  height: 21px;
}
.about-item {
  width: 2.08%;
  top: 85.71%;
  right: 41.67%;
  left: 56.25%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
  object-fit: contain;
  opacity: 0;
}
.about2,
.home-group {
  position: absolute;
  top: 5px;
  left: 315px;
  width: 48px;
  height: 21px;
}
.home-group {
  top: 48px;
  left: 835px;
  width: 370px;
  height: 26px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.instance-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-tan-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.login-child {
  top: 19px;
  left: 20px;
  background-color: var(--color-black);
  width: 85px;
  height: 28px;
}
.login-child,
.login2,
.login3 {
  position: absolute;
}
.login3 {
  top: 23px;
  left: 41px;
  line-height: 130%;
  font-weight: 600;
}
.login2 {
  top: 29px;
  left: 1235px;
  width: 124px;
  height: 69px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.login-page-child {
  position: absolute;
  top: 229px;
  left: calc(50% - 260px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-300);
  box-shadow: 36.2px -36.2px 36.2px rgba(165, 165, 165, 0.1) inset,
    -36.2px 36.2px 36.2px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(72.4px);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 520px;
  height: 566px;
}
.forgot-password,
.login4,
.login5 {
  position: absolute;
  line-height: 130%;
}
.forgot-password {
  top: calc(50% - 15px);
  left: 797px;
  font-size: 10px;
  font-family: var(--font-telex);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 16px;
}
.login4,
.login5 {
  top: 286px;
  left: 686px;
  font-size: var(--font-size-6xl);
}
.login5 {
  top: 544px;
  left: 693px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.login-page-item {
  position: absolute;
  top: 234px;
  left: calc(50% + 215px);
  border-radius: 0 var(--br-3xs) 0 var(--br-3xs);
  background-color: var(--color-black);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.line-icon,
.login-page-inner {
  position: absolute;
  top: 243px;
  left: 946px;
  width: 21.5px;
  height: 21.5px;
  object-fit: contain;
}
.line-icon {
  left: 944px;
}
.line-div,
.login-page-child1 {
  position: absolute;
  top: 431.5px;
  left: calc(50% - 190.5px);
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 381px;
  height: 1px;
}
.login-page-child1 {
  top: 496.5px;
}
.rectangle-icon {
  position: absolute;
  top: 21px;
  left: 2px;
  width: 270px;
  height: 41px;
}
.email {
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 16px;
}
.instance-parent {
  position: absolute;
  top: 376px;
  left: 518px;
  width: 284px;
  height: 74px;
  overflow: hidden;
  font-family: var(--font-telex);
}
.icon-lock-circle {
  position: absolute;
  height: 2.45%;
  width: 1.74%;
  top: 45.41%;
  right: 37.36%;
  bottom: 52.14%;
  left: 60.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login-page-child2 {
  position: absolute;
  top: 537px;
  left: 555px;
  border-radius: var(--br-3xs);
  background-color: #24141e;
  width: 337px;
  height: 41px;
  opacity: 0.5;
  cursor: pointer;
}
.dont-have-an,
.register {
  position: absolute;
  top: 4px;
  left: 16px;
  line-height: 130%;
}
.register {
  left: 188px;
  font-weight: 600;
  color: #1e151d;
}
.dont-have-an-account-parent {
  position: absolute;
  top: 602px;
  left: 592px;
  width: 257px;
  height: 23px;
  overflow: hidden;
  cursor: pointer;
}
.instance-child2 {
  position: absolute;
  top: 21px;
  left: 2px;
  width: 270px;
  height: 41px;
  display: none;
}
.password {
  position: absolute;
  top: calc(50% - 4px);
  left: 6px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 16px;
}
.instance-group {
  position: absolute;
  top: 439px;
  left: 526px;
  width: 284px;
  height: 74px;
  overflow: hidden;
  font-family: var(--font-telex);
}
.email-icon {
  position: absolute;
  top: 405px;
  left: 877px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.login-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
